# MySQL Exercise 2: Using WHERE to select specific data

When you are querying a business-related data set, you are usually doing so to answer a question about a subset of the data.  In this lesson you will learn how to select subsets of rows of data that meet criteria you specify, to help you prepare for these types of business questions.  The mechanism within a SQL query that allows you specify which subset of data you want to retrieve is the WHERE clause.

Before we begin, let's load the SQL library and Dognition database, and make the Dognition database our default database.  As a reminder, these are the lines of code you should input:

```python
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/dognitiondb
%sql USE dognitiondb
```

In [1]:
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/dognitiondb
%sql USE dognitiondb

 * mysql://studentuser:***@localhost/dognitiondb
0 rows affected.

[]

Recall the general syntax structure we learned from the "Introduction to Query Syntax" video at the beginning of the week:

<img src="https://duke.box.com/shared/static/vnnubyrx8r46me7fmw1ayhcd8wn16wf8.jpg" width=400 alt="SELECT FROM WHERE" />

This guide indicates that whenever the data we select need to meet certain criteria (specified using a "WHERE" clause), we specify those criteria after we have specified where the data come from.   

Let's say we want to know which Dognition customers received access to Dognition's first four tests for free.  These customers have a 1 in the "free_start_user" column of the users table.  The syntax you would use to select the data for these customers would be:

```mySQL
SELECT user_guid
FROM users
WHERE free_start_user=1;
```
(Note: user_guid is the field that specifies the unique User ID number of each customer in the users table)

If you wanted to double-check that the outputted data indeed met the criteria you specified, you could include a second column in your output that would give you the value in the free_start_user field for each row of the output: 

```mySQL
SELECT user_guid, free_start_user
FROM users
WHERE free_start_user=1;
```

Try this on your own below.  Remember to use %%sql to indicate that your query will span multiple lines, and consider whether you would like to limit the number of results you ouput using the syntax we learned last lesson.  If you do use a LIMIT statement, remember that it has to be the last item in your query, so this time you will place it after your WHERE statement instead of after your FROM statement.

In [4]:
%%sql
SELECT user_guid
FROM users
WHERE free_start_user=1
limit 20;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('ce28a468-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28ac4c-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28acba-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28ad1e-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28ad82-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28b098-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28b1c4-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28b58e-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28b9bc-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28ba20-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28bade-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28bd86-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28c2cc-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28c3ee-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28c628-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28c7a4-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28cb96-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28ccc2-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28cde4-7144-11e5-ba71-058fbc01cf0b',),
 ('ce28ce48-7144-11e5-ba71-058fbc01cf0b',)]

In [5]:
%%sql
SELECT user_guid, free_start_user
FROM users
WHERE free_start_user=1
limit 20 ;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('ce28a468-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28ac4c-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28acba-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28ad1e-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28ad82-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28b098-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28b1c4-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28b58e-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28b9bc-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28ba20-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28bade-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28bd86-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28c2cc-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28c3ee-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28c628-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28c7a4-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28cb96-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28ccc2-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28cde4-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce28ce48-7144-11e5-ba71-058fbc01cf0b', 1)]

**Question 1: How would you select the Dog IDs for the dogs in the Dognition data set that were DNA tested (these should have a 1 in the dna_tested field of the dogs table)?  Try it below (if you do not limit your output, your query should output data from 1433 dogs):**

In [12]:
%sql DESCRIBE dogs

 * mysql://studentuser:***@localhost/dognitiondb
21 rows affected.

[('gender', 'varchar(255)', 'YES', '', None, ''),
 ('birthday', 'varchar(255)', 'YES', '', None, ''),
 ('breed', 'varchar(255)', 'YES', '', None, ''),
 ('weight', 'int(11)', 'YES', '', None, ''),
 ('dog_fixed', 'tinyint(1)', 'YES', '', None, ''),
 ('dna_tested', 'tinyint(1)', 'YES', '', None, ''),
 ('created_at', 'datetime', 'NO', '', None, ''),
 ('updated_at', 'datetime', 'NO', '', None, ''),
 ('dimension', 'varchar(255)', 'YES', '', None, ''),
 ('exclude', 'tinyint(1)', 'YES', '', None, ''),
 ('breed_type', 'varchar(255)', 'YES', '', None, ''),
 ('breed_group', 'varchar(255)', 'YES', '', None, ''),
 ('dog_guid', 'varchar(60)', 'YES', 'MUL', None, ''),
 ('user_guid', 'varchar(60)', 'YES', 'MUL', None, ''),
 ('total_tests_completed', 'varchar(255)', 'YES', '', None, ''),
 ('mean_iti_days', 'varchar(255)', 'YES', '', None, ''),
 ('mean_iti_minutes', 'varchar(255)', 'YES', '', None, ''),
 ('median_iti_days', 'varchar(255)', 'YES', '', None, ''),
 ('median_iti_minutes', 'varchar(255)', 'YES', '', None, ''),
 ('time_diff_between_first_and_last_game_days', 'varchar(255)', 'YES', '', None, ''),
 ('time_diff_between_first_and_last_game_minutes', 'varchar(255)', 'YES', '', None, '')]

In [13]:
%%sql
SELECT dog_guid , dna_tested
FROM dogs
WHERE dna_tested=1
limit 20 ;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3cd40e-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3cf718-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3cf8ee-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d0078-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d0492-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d0938-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d09ce-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d0d48-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d0dde-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d0f96-7144-11e5-ba71-058fbc01cf0b', 1),
 ('fd3d1202-7144-11e5-ba71-058fbc01cf0b', 1)]

The SELECT statement can be used to interact with all data types, and there are many operators and functions that allow you to interact with the data in different ways.  Here are some resources that describe these operators and functions:

https://dev.mysql.com/doc/refman/5.7/en/sql-function-reference.html
http://www.w3resource.com/mysql/mysql-functions-and-operators.php 


Some of the most common operators include: =,<,>,<=, and >=.  If you want to select something that is NOT a specific value, use != or <>.  You can also use logical operators, such as AND and OR.

Let's start by examining how operators can be used with numerical data.

If you wanted to examine the Dog IDs of dogs who weighed between 10 and 50 pounds, you could query:

```mySQL
SELECT dog_guid, weight
FROM dogs
WHERE weight BETWEEN 10 AND 50;
```

The above query provided an example of how to use the BETWEEN operator (described in the links provided above), as well as an example of how AND can be used to specify multiple criteria.  If you wanted to examine the Dog IDs of dogs who were "fixed" (neutered) OR DNA tested, you could use OR in the following query:

```mySQL
SELECT dog_guid, dog_fixed, dna_tested
FROM dogs
WHERE dog_fixed=1 OR dna_tested=1;
```

If you wanted to examine the Dog IDs of dogs who were fixed but NOT DNA tested, you could query:
```mySQL
SELECT dog_guid, dog_fixed, dna_tested
FROM dogs
WHERE dog_fixed=1 AND dna_tested!=1;
```

**Question 2: How would you query the User IDs of customers who bought annual subscriptions, indicated by a "2" in the membership_type field of the users table?  (If you do not limit the output of this query, your output should contain 4919 rows.)**

In [19]:
%sql DESCRIBE users

 * mysql://studentuser:***@localhost/dognitiondb
16 rows affected.

[('sign_in_count', 'int(11)', 'YES', '', '0', ''),
 ('created_at', 'datetime', 'NO', '', None, ''),
 ('updated_at', 'datetime', 'NO', '', None, ''),
 ('max_dogs', 'int(11)', 'YES', '', '0', ''),
 ('membership_id', 'int(11)', 'YES', '', None, ''),
 ('subscribed', 'tinyint(1)', 'YES', '', '0', ''),
 ('exclude', 'tinyint(1)', 'YES', '', None, ''),
 ('free_start_user', 'tinyint(1)', 'YES', '', None, ''),
 ('last_active_at', 'datetime', 'YES', '', None, ''),
 ('membership_type', 'int(11)', 'YES', '', None, ''),
 ('user_guid', 'text', 'YES', 'MUL', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('state', 'varchar(255)', 'YES', '', None, ''),
 ('zip', 'varchar(255)', 'YES', '', None, ''),
 ('country', 'varchar(255)', 'YES', '', None, ''),
 ('utc_correction', 'varchar(255)', 'YES', '', None, '')]

In [22]:
 %%sql
SELECT user_guid , membership_type
FROM users
WHERE membership_type=1
limit 20 ;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('ce1353d8-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce13507c-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce13615c-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce135f2c-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce136a1c-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce1373ae-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce13750c-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce1375b6-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce1379c6-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce138312-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce1389d4-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce138a88-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce138f92-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce138f92-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce1390f0-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce13919a-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce137458-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce13964a-7144-11e5-ba71-058fbc01cf0b', 1),
 ('ce13985c-7144-11e5-ba71-058fbc01cf0b', 1)]

Now let's try using the WHERE statement to interact with text data (called "strings").

Strings need to be surrounded by quotation marks in SQL.  MySQL accepts both double and single quotation marks, but some database systems only accept single quotation marks.  Whenever a string contains an SQL keyword, the string must be enclosed in backticks instead of quotation marks.

>` 'the marks that surrounds this phrase are single quotation marks' `     
>` "the marks that surrounds this phrase are double quotation marks" `     
>`` `the marks that surround this phrase are backticks` ``

Strings enclosed in quotation or backticks can be used with many of the same operators as numerical data.  For example, imagine that you only wanted to look at data from dogs of the breed "Golden Retrievers."  You could query (note that double quotation marks could have been used in this example is well):

```mySQL
SELECT dog_guid, breed
FROM dogs
WHERE breed='golden retriever';
```

The IN operator allows you to specify multiple values in a WHERE clause.  Each of these values must be separated by a comma from the other values, and the entire list of values should be enclosed in parentheses.  If you wanted to look at all the data from Golden Retrievers and Poodles, you could certainly use the OR operator, but the IN operator would be even more efficient (note that single quotation marks could have been used in this example, too):

```mySQL
SELECT dog_guid, breed
FROM dogs
WHERE breed IN ("golden retriever","poodle");
```

The LIKE operator allows you to specify a pattern that the textual data you query has to match.  For example, if you wanted to look at all the data from breeds whose names started with "s", you could query:

```mySQL
SELECT dog_guid, breed
FROM dogs
WHERE breed LIKE ("s%");
```

In this syntax, the percent sign indicates a wild card.  Wild cards represent unlimited numbers of missing letters.  This is how the placement of the percent sign would affect the results of the query:

+ WHERE breed LIKE ("s%") = the breed must start with "s", but can have any number of letters after the "s"
+ WHERE breed LIKE ("%s") = the breed must end with "s", but can have any number of letters before the "s"
+ WHERE breed LIKE ("%s%") = the breed must contain an "s" somewhere in its name, but can have any number of letters before or after the "s"

**Question 3: How would you query all the data from customers located in the state of North Carolina (abbreviated "NC") or New York (abbreviated "NY")?  If you do not limit the output of this query, your output should contain 1333 rows. **

In [29]:
%%sql
SELECT user_guid ,state
FROM users
WHERE state IN ("NC","NY")
limit 20;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce134be0-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce1371a6-7144-11e5-ba71-058fbc01cf0b', 'NY'),
 ('ce137c78-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce138722-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce13919a-7144-11e5-ba71-058fbc01cf0b', 'NY'),
 ('ce137458-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce135766-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce139cb2-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce13a5cc-7144-11e5-ba71-058fbc01cf0b', 'NY'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce21e736-7144-11e5-ba71-058fbc01cf0b', 'NY'),
 ('ce134a78-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce221e5e-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce2220de-7144-11e5-ba71-058fbc01cf0b', 'NY'),
 ('ce22248a-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce22252a-7144-11e5-ba71-058fbc01cf0b', 'NC')]

Next, let's try using the WHERE statement to interact with datetime data.  Time-related data is a little more complicated to work with than other types of data, because it must have a very specific format.  MySQL comes with the following data types for storing a date or a date/time value in the database:

DATE - format YYYY-MM-DD  
DATETIME - format: YYYY-MM-DD HH:MI:SS  
TIMESTAMP - format: YYYY-MM-DD HH:MI:SS  
YEAR - format YYYY or YY

One of the interesting things about time-related data is that SQL has commands to break the data into different "time parts" or "date parts" as described here:

http://www.tutorialspoint.com/mysql/mysql-date-time-functions.htm


A time stamp stored in one row of data might look like this: 

```
2013-02-07 02:50:52
```
The year part of that entry would be 2013, the month part would be "02" or "February" (depending on the requested format), the seconds part would be "52", and so on.  SQL functions easily allow you to convert those parts into formats you might need for specific analyses.  For example, imagine you wanted to know how many tests Dognition customers complete on different days of the week.  To complete this analysis, you would need to convert the time stamps of each completed test to a variable that outputted the correct day of the week for that date.  DAYNAME is a function that will do this for you.  You can combine DAYNAME with WHERE to select data from only a single day of the week:

```mySQL
SELECT dog_guid, created_at
FROM complete_tests
WHERE DAYNAME(created_at)="Tuesday"
```

You can also use common operators like =,<,>,<=,>=,!=, or <> with dates just like you would with other types of data, but whether you refer to the date as a number or text will depend on whether you are selecting individual date parts or treating the date/time entry as a single clause.   For example, you could select all the Dog IDs and time stamps of tests completed after the 15 of every month with this command that extracts the "DAY" date part out of each time stamp:

```mySQL
SELECT dog_guid, created_at
FROM complete_tests
WHERE DAY(created_at) > 15
```

You could also select all the Dog IDs and time stamps of completed tests from after February 4, 2014 by treating date entries as text clauses with the following query:

```mySQL
SELECT dog_guid, created_at
FROM complete_tests
WHERE created_at > '2014-02-04'
```

Note that you have to use a different set of functions than you would use for regular numerical data to add or subtract time from any values in these datetime formats.  For example, instead of using a minus sign to find the difference in time between two time stamps or dates, you would use the TIMEDIFF or DATEDIFF function.  See the references provided above for a list of these functions.  

**Question 4: Now that you have seen how datetime data can be used to impose criteria on the data you select, how would you select all the Dog IDs and time stamps of Dognition tests completed before October 15, 2015 (your output should have 193,246 rows)?**

In [37]:
%%sql
SELECT dog_guid, created_at
FROM complete_tests
WHERE created_at > '2014-02-04'
limit 20,30;

 * mysql://studentuser:***@localhost/dognitiondb
30 rows affected.

[('fd66a2b6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 38)),
 ('fd66e230-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 40, 35)),
 ('fd66e230-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 45, 28)),
 ('fd66a2b6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 49, 41)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 52, 2)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 51, 53)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 56, 27)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 56, 24)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 58, 9)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 1, 59, 34)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 0, 19)),
 ('fd66a2b6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 2, 15)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 3)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 4, 29)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 7, 33)),
 ('fd66e29e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 10, 21)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 11, 31)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 15, 29)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 16, 57)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 19, 19)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 18, 59)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 19, 39)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 23, 5)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 25, 3)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 25, 17)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 29, 1)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 30)),
 ('fd66e370-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 32, 11)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 32, 51)),
 ('fd66a798-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2014, 2, 4, 2, 34, 12))]

In [36]:
%%sql
SELECT dog_guid, created_at
FROM complete_tests
WHERE created_at < '2015-11-15'
limit 30,30;

 * mysql://studentuser:***@localhost/dognitiondb
30 rows affected.

[('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 20, 54, 19)),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 20, 54, 36)),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 20, 54, 52)),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 20, 55, 3)),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 20, 55, 12)),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 20, 55, 22)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 12, 31)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 20, 10)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 26, 51)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 33, 24)),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 44, 38)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 45, 12)),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 48, 58)),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 51, 17)),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 54, 53)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 55, 15)),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 21, 58, 19)),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 2, 30)),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 6, 34)),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 10, 6)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 23, 49)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 26, 36)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 29, 2)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 32, 25)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 33, 9)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 36, 11)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 38, 1)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 48, 58)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 53, 45)),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 22, 59, 45))]

In [32]:
%%sql
SELECT dog_guid, created_at
FROM complete_tests
WHERE DAYNAME(created_at)="Tuesday"
LIMIT 20;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 26, 54)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 31, 3)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 32, 4)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 32, 25)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 32, 56)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 33, 15)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 33, 33)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 33, 59)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 34, 25)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 34, 39)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 34, 46)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 35, 18)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 35, 47)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 36, 28)),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 36, 44)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 18, 57, 5)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 19, 1, 31)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 19, 4, 42)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 19, 7, 39)),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 5, 19, 15, 1))]

In [34]:
%%sql
SELECT dog_guid, created_at
FROM complete_tests
WHERE DAY(created_at) > 15
limit 20,100;

 * mysql://studentuser:***@localhost/dognitiondb
100 rows affected.

[('fd3d479a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 6, 38, 40)),
 ('fd3d479a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 6, 42, 26)),
 ('fd3d479a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 6, 47, 38)),
 ('fd3d479a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 6, 50, 15)),
 ('fd3d25c6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 10, 24, 50)),
 ('fd3d25c6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 10, 27, 4)),
 ('fd3d2530-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 10, 31, 15)),
 ('fd3d2530-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 10, 33, 27)),
 ('fd3d34d0-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 13, 24, 49)),
 ('fd3d34d0-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 13, 37, 25)),
 ('fd3d34d0-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 13, 53, 47)),
 ('fd3d2530-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 2, 18)),
 ('fd3d2530-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 7, 9)),
 ('fd3d25c6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 10, 58)),
 ('fd3d25c6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 13, 5)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 36, 44)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 41, 41)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 45, 6)),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 47, 47)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 50, 26)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 52, 48)),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 54, 52)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 55, 3)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 59, 8)),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 14, 59, 21)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 2, 11)),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 5, 49)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 7, 16)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 19, 37)),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 34, 20)),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 35, 10)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 45, 30)),
 ('fd3d5320-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 46, 53)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 49, 40)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 52, 23)),
 ('fd3d224c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 52, 46)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 55)),
 ('fd3d224c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 58, 35)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 15, 59, 57)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 2, 35)),
 ('fd3d224c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 3, 30)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 4, 54)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 7, 16)),
 ('fd3d224c-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 9, 4)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 9, 31)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 12, 6)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 23, 9)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 25, 54)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 29, 52)),
 ('fd3cd99a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 29, 48)),
 ('fd3cd99a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 33, 19)),
 ('fd3cd99a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 36, 30)),
 ('fd3cd99a-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 40, 47)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 45, 31)),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 55, 4)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 16, 55, 1)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 17, 1, 16)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 17, 8)),
 ('fd3d25c6-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 18, 3, 11)),
 ('fd3d1162-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 18, 7, 6)),
 ('fd3d1162-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 18, 11, 30)),
 ('fd3d1162-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 18, 17, 35)),
 ('fd3d1162-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 18, 21, 40)),
 ('fd3d2d46-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 21, 21, 56)),
 ('fd3d2d46-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 21, 24, 28)),
 ('fd3d2d46-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 21, 28, 40)),
 ('fd3d2d46-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 21, 32, 9)),
 ('fd3d44a2-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 21, 32, 43)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 22, 12, 42)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 22, 18, 20)),
 ('fd3f90fe-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 22, 22, 4)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 19, 9)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 21, 53)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 22, 20)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 26, 26)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 30, 9)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 33, 22)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 37, 34)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 44, 7)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 16, 23, 55, 30)),
 ('fd3fd74e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 0, 30, 9)),
 ('fd3fd74e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 0, 34, 7)),
 ('fd3fd74e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 0, 37, 54)),
 ('fd3fd74e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 0, 39, 48)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 1, 39, 17)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 1, 43, 26)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 1, 48, 41)),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 1, 53, 26)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 23, 44)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 27, 6)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 31, 42)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 32, 25)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 39, 21)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 44, 28)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 51, 9)),
 ('fd3d51f4-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 53, 13)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 54, 13)),
 ('fd3d51f4-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 58, 39)),
 ('fd3fdb54-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 2, 58, 40)),
 ('fd3fda6e-7144-11e5-ba71-058fbc01cf0b', datetime.datetime(2013, 2, 17, 3, 2, 3))]

Last, let's use the WHERE statement in combination with two very important operators: IS NULL and IS NOT NULL.  IS NULL will indicate rows of data that have null values.  IS NOT NULL will indicate rows that do not have null values.  We saw in previous exercises that many of the entries in the free_start_user field of the user table in the Dognition data set had NULL values.  To select only the rows that have non-null data you could query:

```mySQL
SELECT user_guid
FROM users
WHERE free_start_user IS NOT NULL;
```

To select only the rows that have null data so that you can examine if these rows share something else in common, you could query:

```mySQL
SELECT user_guid
FROM users
WHERE free_start_user IS NULL;
```

**Question 5: How would you select all the User IDs of customers who do not have null values in the State field of their demographic information (if you do not limit the output, you should get 17,985 from this query -- there are a lot of null values in the state field!)?**

In [39]:
%sql DESCRIBE users

 * mysql://studentuser:***@localhost/dognitiondb
16 rows affected.

[('sign_in_count', 'int(11)', 'YES', '', '0', ''),
 ('created_at', 'datetime', 'NO', '', None, ''),
 ('updated_at', 'datetime', 'NO', '', None, ''),
 ('max_dogs', 'int(11)', 'YES', '', '0', ''),
 ('membership_id', 'int(11)', 'YES', '', None, ''),
 ('subscribed', 'tinyint(1)', 'YES', '', '0', ''),
 ('exclude', 'tinyint(1)', 'YES', '', None, ''),
 ('free_start_user', 'tinyint(1)', 'YES', '', None, ''),
 ('last_active_at', 'datetime', 'YES', '', None, ''),
 ('membership_type', 'int(11)', 'YES', '', None, ''),
 ('user_guid', 'text', 'YES', 'MUL', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('state', 'varchar(255)', 'YES', '', None, ''),
 ('zip', 'varchar(255)', 'YES', '', None, ''),
 ('country', 'varchar(255)', 'YES', '', None, ''),
 ('utc_correction', 'varchar(255)', 'YES', '', None, '')]

In [42]:
%%sql
SELECT user_guid,state
FROM users
WHERE  state IS NULL
limit 20;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('ce134f50-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1352ac-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce135888-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1359aa-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce135fea-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1360a8-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1362ba-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136378-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce13642c-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1364d6-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136580-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce13663e-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1366e8-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136792-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136832-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce1368dc-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce13697c-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136b70-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136cd8-7144-11e5-ba71-058fbc01cf0b', None),
 ('ce136d8c-7144-11e5-ba71-058fbc01cf0b', None)]

In [41]:
%%sql
SELECT user_guid,state
FROM users
WHERE  state IS NOT NULL
limit 20;

 * mysql://studentuser:***@localhost/dognitiondb
20 rows affected.

[('ce134e42-7144-11e5-ba71-058fbc01cf0b', 'ND'),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'MA'),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', 'CT'),
 ('ce13507c-7144-11e5-ba71-058fbc01cf0b', 'IL'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce13615c-7144-11e5-ba71-058fbc01cf0b', 'WA'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce135f2c-7144-11e5-ba71-058fbc01cf0b', 'CO'),
 ('ce136a1c-7144-11e5-ba71-058fbc01cf0b', 'WA'),
 ('ce136ac6-7144-11e5-ba71-058fbc01cf0b', 'WA'),
 ('ce136c24-7144-11e5-ba71-058fbc01cf0b', 'WA'),
 ('ce136e36-7144-11e5-ba71-058fbc01cf0b', 'CA'),
 ('ce136ee0-7144-11e5-ba71-058fbc01cf0b', 'OH'),
 ('ce136f94-7144-11e5-ba71-058fbc01cf0b', 'VA'),
 ('ce134be0-7144-11e5-ba71-058fbc01cf0b', 'NC'),
 ('ce1371a6-7144-11e5-ba71-058fbc01cf0b', 'NY'),
 ('ce136f94-7144-11e5-ba71-058fbc01cf0b', 'VA'),
 ('ce136f94-7144-11e5-ba71-058fbc01cf0b', 'VA'),
 ('ce1373ae-7144-11e5-ba71-058fbc01cf0b', 'CA'),
 ('ce13750c-7144-11e5-ba71-058fbc01cf0b', 'WY')]

## Practice writing your own SELECT and WHERE statements!

### These queries will combine what you've learned in the past two lessons.

**Question 6: How would you retrieve the Dog ID, subcategory_name, and test_name fields, in that order, of the first 10 reviews entered in the Reviews table to be submitted in 2014?**

In [51]:
%sql DESCRIBE reviews

 * mysql://studentuser:***@localhost/dognitiondb
7 rows affected.

[('rating', 'int(11)', 'YES', '', None, ''),
 ('created_at', 'datetime', 'NO', '', None, ''),
 ('updated_at', 'datetime', 'NO', '', None, ''),
 ('user_guid', 'varchar(60)', 'YES', 'MUL', None, ''),
 ('dog_guid', 'varchar(60)', 'YES', 'MUL', None, ''),
 ('subcategory_name', 'varchar(60)', 'YES', '', None, ''),
 ('test_name', 'varchar(60)', 'YES', '', None, '')]

In [56]:
%%sql
SELECT dog_guid,subcategory_name, test_name,created_at
FROM reviews 
WHERE YEAR(created_at)= "2014"
limit 10;

 * mysql://studentuser:***@localhost/dognitiondb
10 rows affected.

[('ce3ac77e-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Warm-up', datetime.datetime(2014, 5, 1, 19, 8)),
 ('ce2aedcc-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Warm-up', datetime.datetime(2014, 5, 1, 22, 1, 36)),
 ('ce2aedcc-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Game', datetime.datetime(2014, 5, 1, 22, 5, 37)),
 ('ce2aedcc-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Treat Warm-up', datetime.datetime(2014, 5, 1, 22, 19)),
 ('ce405c52-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Warm-up', datetime.datetime(2014, 5, 1, 22, 35, 30)),
 ('ce405c52-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Game', datetime.datetime(2014, 5, 1, 22, 38, 33)),
 ('ce405c52-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Game', datetime.datetime(2014, 5, 1, 22, 45, 24)),
 ('ce405e28-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Treat Warm-up', datetime.datetime(2014, 5, 2, 1, 32, 49)),
 ('ce405e28-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back', datetime.datetime(2014, 5, 2, 1, 52, 6)),
 ('ce2609c4-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Treat Warm-up', datetime.datetime(2014, 5, 2, 2, 58, 23))]

** Question 7: How would you select all of the User IDs of customers who have female dogs whose breed includes the word "terrier" somewhere in its name (if you don't limit your output, you should have 1771 rows in your output)? **

In [58]:
%%sql
SELECT dog_guid
FROM dogs
WHERE breed LIKE ("%terrier%") AND gender="female"
limit  29;

 * mysql://studentuser:***@localhost/dognitiondb
29 rows affected.

[('fd27eae4-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3cf8ee-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3cfa1a-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d080c-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d0898-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d2080-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d2116-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d2af8-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d34d0-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d3840-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d3c46-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d4092-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3d5a1e-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3fc704-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3fe270-7144-11e5-ba71-058fbc01cf0b',),
 ('fd3fea04-7144-11e5-ba71-058fbc01cf0b',),
 ('fd40098a-7144-11e5-ba71-058fbc01cf0b',),
 ('fd400a16-7144-11e5-ba71-058fbc01cf0b',),
 ('fd40511a-7144-11e5-ba71-058fbc01cf0b',),
 ('fd410858-7144-11e5-ba71-058fbc01cf0b',),
 ('fd411366-7144-11e5-ba71-058fbc01cf0b',),
 ('fd416276-7144-11e5-ba71-058fbc01cf0b',),
 ('fd416eb0-7144-11e5-ba71-058fbc01cf0b',),
 ('fd416f1e-7144-11e5-ba71-058fbc01cf0b',),
 ('fd416f96-7144-11e5-ba71-058fbc01cf0b',),
 ('fd4176c6-7144-11e5-ba71-058fbc01cf0b',),
 ('fd417d92-7144-11e5-ba71-058fbc01cf0b',),
 ('fd41a574-7144-11e5-ba71-058fbc01cf0b',),
 ('fd41c234-7144-11e5-ba71-058fbc01cf0b',)]

**Question 8: How would you select the Dog ID, test name, and subcategory associated with each completed test for the first 100 tests entered in October, 2014?**

In [59]:
%%sql
SELECT dog_guid, subcategory_name, test_name
FROM reviews
WHERE YEAR(created_at)=2014 and MONTH(created_at)=10
LIMIT 100;

 * mysql://studentuser:***@localhost/dognitiondb
100 rows affected.

[('ce4145ea-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Game'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Warm-up'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Game'),
 ('ce470c82-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Pointing'),
 ('ce46f0d0-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Delayed Cup Game'),
 ('ce470bb0-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce470e30-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce470bb0-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce470e30-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Treat Warm-up'),
 ('ce470bb0-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce470bb0-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce470e30-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Arm Pointing'),
 ('ce470e30-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Foot Pointing'),
 ('ce45996a-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce45996a-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce45996a-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce46dab4-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce45996a-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce46dab4-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce470c82-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Inferential Reasoning Warm-up'),
 ('ce46dab4-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce46dab4-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce470c82-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Game'),
 ('ce4707fa-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce4707fa-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce4707fa-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce4707fa-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce46e090-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce474da0-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'One Cup Warm-up'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Treat Warm-up'),
 ('ce474da0-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Pointing'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Arm Pointing'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Treat Warm-up'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Arm Pointing'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Foot Pointing'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Communication', 'Foot Pointing'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching - Part 2'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'One Cup Warm-up'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'One Cup Warm-up'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Two Cup Warm-up'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Two Cup Warm-up'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Pointing'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Pointing'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Smell'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Smell'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Delayed Cup Game'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Delayed Cup Game'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Inferential Reasoning Warm-up'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Inferential Reasoning Warm-up'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Inferential Reasoning Game'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Inferential Reasoning Game'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Warm-up'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Warm-up'),
 ('ce477f6e-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Game'),
 ('ce477f00-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Game'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Shell Game', 'Warm-Up'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Shell Game', 'Slide'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Shell Game', 'Switch'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Self Control Game', 'Warm-Up'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Self Control Game', 'Self Control Game'),
 ('ce478360-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Game'),
 ('ce478360-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Game'),
 ('ce47553e-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Watching'),
 ('ce474da0-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Smell'),
 ('ce474da0-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Delayed Cup Game'),
 ('ce28ffc6-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Turn Your Back'),
 ('ce28ffc6-7144-11e5-ba71-058fbc01cf0b', 'Cunning', 'Cover Your Eyes'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Expression Game', 'Warm-Up'),
 ('ce3fe772-7144-11e5-ba71-058fbc01cf0b', 'Expression Game', 'Expression Game'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Warm-up'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Game'),
 ('ce45ab4e-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Warm-up'),
 ('ce407610-7144-11e5-ba71-058fbc01cf0b', 'Memory', 'Memory versus Smell'),
 ('ce40bb34-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Warm-up'),
 ('ce474d32-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Warm-up'),
 ('ce47843c-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Warm-up'),
 ('ce47843c-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Yawn Game'),
 ('ce47843c-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Warm-up'),
 ('ce474d32-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Game'),
 ('ce47843c-7144-11e5-ba71-058fbc01cf0b', 'Empathy', 'Eye Contact Game'),
 ('ce410936-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Warm-up'),
 ('ce410936-7144-11e5-ba71-058fbc01cf0b', 'Reasoning', 'Physical Reasoning Game'),
 ('ce40f694-7144-11e5-ba71-058fbc01cf0b', 'Impossible Task', 'Impossible Task Warm-up')]

There are many more operators you can use in your WHERE clauses to restrict the data you select as well.  We do not have the space to go over each one individually in this lesson, but I encourage you to explore them on your own.  <mark>*This is a great area to practice being fearless and bold in your desire to learn new things!  The more you try, the more you will learn.*</mark>  

**Feel free to practice any other functions or operators you discover in the space below:**